.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(330deg,
      hsl(272, 53%, 50%) 0%,
      hsl(226, 68%, 56%) 100%);

  &__header {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  &__main {
    height: calc(100vh - 50px);
  }
}